* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #333333;
}

body {
    background-color: #F5F4F0;
    line-height: 1.2;
}

.page {
  max-width: 1120px;
  height: 3054px;
  margin: 88px auto;
  padding: auto;
  height: auto;
  background-color: #F5F4F0;
}

img {
    border-radius: 28px;
    width: 100%;
    object-fit: fill;
    max-width: 2000px;
    max-height: 400px;
    height: auto;
}

.header{
  margin-bottom: 40px;
    h2 {
        font-size: 16px;
        color: #eaeaea;
        margin-bottom: 8px;
    }
    h1 {
        font-size: 36px;
    }
}

.cristo-redentor {
    footer {
      margin-top: 24px;
      margin-bottom: 4px;
    }
  
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin-bottom: 64px;
    margin-top: 40px;
}

.foz-do-iguacu {
    h3 {
        font-size: 16px;
        color: #E1624F;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 8px;
    }
    .atração {
      font-size: 16px;
      color: #333333;
      margin-bottom: 64px;
    }
    .foz {
      h2 {
        font-weight: bold;
        font-size: 38px;
        margin-top: 8px;
      }
      #foz {
        font-size: 16px;
        color: #333333;
        margin-bottom: 48px;
      }
    }
}

.paodeacucar {
    h2 {
      font-weight: bold;
      font-size: 38px;
      margin-bottom: 4px;
      margin-top: 20px;
    }
    .pao {
      font-size: 16px;
      color: #333333;
      margin-bottom: 48px;
    }
}

.parque-ibirapuera {
    h2 {
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 4px;
      margin-top: 20px;
    }
    .parque {
      font-size: 16px;
      color: #333333;
      /* margin-bottom: 4px; */
    }
}
.divider-baixo {
    
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin-bottom: 40px;
    margin-top: 40px;
}

.baixo {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    text-align: center;
}

.marca {
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}

